name : EC2-setup (one time)
on:
    workflow_dispatch:
jobs:
    setup-ec2:
          runs-on: ubuntu-latest
          steps:
          
            - name: ADD SSH key into amazon-keypair file with executeable permission
              run: |
                  echo "${{secrets.EC2_SSH_KEY}}" > amazon-keypair.pem
                  chmod 600 amazon-keypair.pem

            - name: Install Docker & Git on EC2
              run: |
                 ssh -o StrictHostKeyChecking=no -i amazon-keypair.pem ${{secrets.EC2_USER}}@${{secrets.EC2_IP_ADDR}} << END
                    sudo yum install update
                    sudo yum install git -y && sudo yum install docker -y && sudo usermod -aG docker ${USER} && newgrp docker
                    echo "Docker and git is installed successfully"
                    echo"EC2 set up complete!"

                    END
            
            

    
  
